* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

body {
    background-color: whitesmoke;
}

.app {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 3px 3px #ccc;
    background-color: white;
    border-radius: 10px;
}

.app .line {
    background-color: #333;
    width: 100%;
    height: 1px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: smaller;
}

input,
select {
    display: block;
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0px 5px #ccf;
}

select {
    border-radius: 0;
}

input:focus {
    box-shadow: 0 0px 9px #aaf;
}

input.warning {
    box-shadow: 0 0 5px #f00;
}

small.warning {
    color: #f11;
    display: none;
    margin: 5px 0;
}

small.warning-show {
    display: block;
}

button {
    outline: None;
    background-color: #00a;
    border: 1px white;
    color: white;
    padding: 10px;
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
}

button:active {
    background-color: #00e;
    box-shadow: 0 0 1px #00e;
}
